# Heqet FreePBX 17 Installer
DEFAULT heqet
TIMEOUT 0
PROMPT 0

LABEL heqet
	KERNEL /install.amd/vmlinuz
	APPEND initrd=/install.amd/initrd.gz auto=true priority=critical preseed/file=/cdrom/preseed.cfg file=/cdrom/preseed.cfg console=tty1 DEBIAN_FRONTEND=text debian-installer/framebuffer=false cdrom-detect/try-usb=true
